@import 'scss/variables';

.page {
  display: flex;
  flex-grow: 1;
}

.left {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  max-width: 400px;
  margin-right: 20px;
  padding: 15px;
  flex-grow: 1;
  border: 1px solid #62738d;
  border-radius: 5px;
  background: #fff;
  box-shadow: $box_shadow;
}
.right {
  flex-grow: 1;
}
.flex {
  flex-grow: 1;
}
.cell {
  padding: 0px 5px;
  margin: 0px;
}