.login-assist-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 20px;
  max-width: 350px;
}

.login-assist-container > * {
  margin: 20px 0px;
}

.login-content > * {
  height: 90px;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
  line-height: 20px;
}

.header {
  font-size: 20px;
}
