@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html,
body,
#root {
  max-height: 100%;
  font-weight: 300;
  font-size: 14px;
  margin: 0px;
  color: #444;
  font-family: 'Roboto', sans-serif;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  color: #444;
}